@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
.dataTables_length,
.dataTables_filter {
  width: 50% !important;
  margin-bottom: 20px !important;
}
.dataTables_length label {
  display: flex !important;
  flex-direction: row !important;
  gap: 10px;
  align-items: center !important;
}
.dataTables_length select {
  width: 20% !important;
  border-radius: 8px !important;
  border: 1px solid #e5e7eb !important;
}
.dataTables_filter label {
  display: flex !important;
  flex-direction: row !important;
  gap: 5px !important;
  align-items: center !important;
}
.dataTables_filter input {
  width: 100% !important;
  border-radius: 8px !important;
  border: 1px solid #e5e7eb !important;
}

.dataTables_paginate,
.dataTables_info {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.dataTables_paginate .current {
  border-radius: 8px !important;
  background: #f1f5f9 !important;
  border: none !important;
}
.dataTables_paginate .paginate_button:hover {
  border-radius: 8px !important;
  background: #f1f5f9 !important;
  border: none !important;
  color: #000000 !important;
}


table.dataTable tbody td {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  border-bottom: none !important;
}
table.dataTable thead th {
  
  border-bottom: none !important;
}
table.dataTable tr.selected {
  background: #f1f5f9 !important;
}
/* .dataTables_scrollBody #table_accounts thead th{
  padding: 0px !important;
} */
