@page
@model PRN221.Team5.Web.Pages.Auth.LogInModel
@{
}

<div class="w-full p-4 sm:p-12.5 xl:p-17.5">
    <span class="mb-1.5 block font-medium">Start for free</span>
    <h2 class="mb-9 text-2xl font-bold text-black dark:text-white sm:text-title-xl2">
        Sign In to Zoo Management
    </h2>

    <form method="post">
        <div class="mb-4">
            <label class="mb-2.5 block font-medium text-black dark:text-white">Username</label>
            <div class="relative">
                <input type="text" asp-for="Username" placeholder="Enter your username"
                    class="w-full rounded-lg border border-stroke bg-transparent py-4 pl-6 pr-10 outline-none focus:border-primary focus-visible:shadow-none dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />

                <span class="absolute right-4 top-4">
                    <svg class="fill-current" width="22" height="22" viewBox="0 0 22 22" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.5">
                            <path
                                d="M19.2516 3.30005H2.75156C1.58281 3.30005 0.585938 4.26255 0.585938 5.46567V16.6032C0.585938 17.7719 1.54844 18.7688 2.75156 18.7688H19.2516C20.4203 18.7688 21.4172 17.8063 21.4172 16.6032V5.4313C21.4172 4.26255 20.4203 3.30005 19.2516 3.30005ZM19.2516 4.84692C19.2859 4.84692 19.3203 4.84692 19.3547 4.84692L11.0016 10.2094L2.64844 4.84692C2.68281 4.84692 2.71719 4.84692 2.75156 4.84692H19.2516ZM19.2516 17.1532H2.75156C2.40781 17.1532 2.13281 16.8782 2.13281 16.5344V6.35942L10.1766 11.5157C10.4172 11.6875 10.6922 11.7563 10.9672 11.7563C11.2422 11.7563 11.5172 11.6875 11.7578 11.5157L19.8016 6.35942V16.5688C19.8703 16.9125 19.5953 17.1532 19.2516 17.1532Z"
                                fill="" />
                        </g>
                    </svg>
                </span>
            </div>
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="mb-6">
            <label class="mb-2.5 block font-medium text-black dark:text-white">Password</label>
            <div class="relative" x-data="{password: true }">
                <input :type="password ? 'password' : 'text'" asp-for="Password"
                    placeholder="6+ Characters, 1 Capital letter"
                    class="w-full rounded-lg border border-stroke bg-transparent py-4 pl-6 pr-10 outline-none focus:border-primary focus-visible:shadow-none dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary" />

                <span class="absolute right-4 top-4" x-on:click="password= !password">
                    <template x-if="password">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="24" height="24">
                            <g opacity="0.5">

                                <path
                                    d="M19,8.424V7A7,7,0,0,0,5,7V8.424A5,5,0,0,0,2,13v6a5.006,5.006,0,0,0,5,5H17a5.006,5.006,0,0,0,5-5V13A5,5,0,0,0,19,8.424ZM7,7A5,5,0,0,1,17,7V8H7ZM20,19a3,3,0,0,1-3,3H7a3,3,0,0,1-3-3V13a3,3,0,0,1,3-3H17a3,3,0,0,1,3,3Z" />
                                <path d="M12,14a1,1,0,0,0-1,1v2a1,1,0,0,0,2,0V15A1,1,0,0,0,12,14Z" />
                            </g>
                        </svg>
                    </template>
                    <template x-if="!password">

                        <svg x-if="!password" xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24"
                            width="24" height="24">
                            <g opacity="0.5">

                                <path
                                    d="M17,8H7V7a5,5,0,0,1,9.375-2.422,1,1,0,0,0,1.749-.971A7,7,0,0,0,5,7V8.424A5,5,0,0,0,2,13v6a5.006,5.006,0,0,0,5,5H17a5.006,5.006,0,0,0,5-5V13A5.006,5.006,0,0,0,17,8Zm3,11a3,3,0,0,1-3,3H7a3,3,0,0,1-3-3V13a3,3,0,0,1,3-3H17a3,3,0,0,1,3,3Z" />
                                <path d="M12,14a1,1,0,0,0-1,1v2a1,1,0,0,0,2,0V15A1,1,0,0,0,12,14Z" />
                            </g>
                        </svg>
                    </template>
                </span>
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
       
        @if (!ViewData.ModelState.IsValid)
            {
                <div class="mb-4">
                    
                    @if(ViewData.ModelState["invalid"] != null)
                    {
                        <span class="text-danger">@ViewData.ModelState["invalid"].Errors[0].ErrorMessage</span>
                    }
                    else
                    {
                        <span class="text-danger"></span>
                    }
                    
                </div>
            }
          
        


        <div class="mb-5">
            <button
                class="w-full cursor-pointer rounded-lg border border-primary bg-primary p-4 font-medium text-white transition hover:bg-opacity-90"
                type="submit">Login</button>
        </div>


    </form>
</div>
