@page
@model PRN221.Team5.Web.Pages.Auth.LogInModel
@{
}

<h1>Login Page</h1>

<form method="post">
    <input type="text" asp-for="Username" />
    <input type="password" asp-for="Password" />
    <button type="submit">Login</button>
</form>
