@page
@model Team5.Web.Pages.ManageFood.EditModel

@{
    ViewData["Title"] = "Edit";
}
<div class="container-fluid d-flex flex-column gap-4">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active d-flex flex-row gap-1 align-items-center">
                <svg width="12" height="12" class="mr-4" fill="#6c757d" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                    </path>
                </svg><span>Dashboard</span>
            </li>
            <li class="breadcrumb-item active" aria-current="page">All Species</li>
            <li class="breadcrumb-item active" aria-current="page">Edit</li>
        </ol>
    </nav>
    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
    <div class="card create-form">
        <div class="card-header">
            Edit
        </div>
        <div class="card-body">
            <h5 class="card-title">Food</h5>
            <div class="row mt-4">
                <div class="col">
                    <form method="post" class="d-flex flex-column gap-4">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Food.Id" />
                        <div class="form-group">
                            <label asp-for="Food.Name" class="control-label"></label>
                            <input asp-for="Food.Name" class="form-control" />
                            <span asp-validation-for="Food.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Food.Type" class="control-label"></label>
                            <input asp-for="Food.Type" class="form-control" />
                            <span asp-validation-for="Food.Type" class="text-danger"></span>
                        </div>
                        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                        {
                            <h3 class="alert alert-danger" role="alert">@Model.ErrorMessage</h3>
                        }
                        <div class="form-group w-100">
                            <input type="submit" value="Save" class="btn btn-primary w-100" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>
@* 
<h1>Edit</h1>

<h4>Food</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Food.Id" />
            <div class="form-group">
                <label asp-for="Food.Name" class="control-label"></label>
                <input asp-for="Food.Name" class="form-control" />
                <span asp-validation-for="Food.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.Type" class="control-label"></label>
                <input asp-for="Food.Type" class="form-control" />
                <span asp-validation-for="Food.Type" class="text-danger"></span>
            </div>
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <h3 class="alert alert-danger" role="alert">@Model.ErrorMessage</h3>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div> *@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
