@page
@model PRN221.Team5.Web.Pages.IndexModel


<div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
  <div class="mb-4 grid grid-cols-12 gap-4 md:mb-6 md:gap-6 2xl:mb-7.5 2xl:gap-7.5">
    <!-- ====== New Animals during the month  -->
    <div class="col-span-12 xl:col-span-8">
      @await Html.PartialAsync("./Shared/Partials/_TableNewAnimalsMonth.cshtml")
    </div>
    <!-- ====== New Animals during the month -->
    <!-- ====== Chat Card Start -->
    <div class="col-span-12 xl:col-span-4">
      @await Html.PartialAsync("./Shared/Partials/_TableNewEmployeesMonth.cshtml")
    </div>
    <!-- ====== Chat Card End -->
  </div>

  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-6 xl:grid-cols-4 2xl:gap-7.5">
    <div class="col-span-3" x-data="{view: false}">
      @await Html.PartialAsync("./Shared/Partials/_TableNewPostsMonth.cshtml")
    </div>
    <div class="col-span-1 flex flex-col h-full gap-y-10">

    <!-- Card Item Start -->
    @* @await Html.PartialAsync("./Shared/Partials/_CardTotalNewsMonth.cshtml") *@
    <!-- Card Item End -->
    <!-- Card Item Start -->
    @* @await Html.PartialAsync("./Shared/Partials/_CardTotalViewsMonth.cshtml") *@
    <!-- Card Item End -->
    <!-- Card Item Start -->
    <!-- Card Item End -->
    </div>
  </div>

 
</div>
