<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Team5.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Team5.Web.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="container-fluid">

        <div class="row flex-nowrap">
            @await Html.PartialAsync("./Partials/_Sidebar.cshtml")
        </div>
        <div class="col py-3">
             @RenderBody()
        </div>
    </div>
    
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Team5.Web - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>